<!-- START WITH TITLE, CLOSE HEAD, OPEN BODY -->
<%- include('partials/header') -%>

<title>EduLink · Courses</title>
</head>
<body>
  <div>
    <main>
        <!--Header And Title-->
        <section id="header">
            <div class="container-fluid nav-container">
                <nav class="navbar navbar-expand-md navbar-light ">
                    <!-------BRAND-------->
                    <a class="navbar-brand" href="/"><span class="edu"><strong>Edu</strong></span>Link</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                    </button>
                    <!---------NAV ITEMS------------>
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto ml-auto">
                            <li class="nav-itme">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-itme">
                                <a class="nav-link" href="/courses">Courses</a>
                            </li>
                            <li class="nav-itme">
                                <a class="nav-link" href="#">Leaderboard</a>
                            </li>
                            <li class="nav-itme">
                                <a class="nav-link" href="#">About</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="" class="nav-link"><button class="btn btn-md sing-up">Sign up</button></a></li>
                            <li class="nav-item"><a href="" class="nav-link"> <button class="btn btn-md btn-color btn-danger" type="button">Log in</button></a></li> 
                        </ul>
                        
                    </div>
                </nav>
                
            </div>
            <div class="colored-section">
              <div class="container-fluid">
                  <h2 class="section-heading">Our Courses</h2>
               </div>   
            </div>
          </section>

          <section id="courses">
            <div class="container-fluid">
              
            </div>
          </section>

  <!------------------Footer----------------------->

<!-- DON't USE CLOSING BODY!!! -->
<%- include('partials/footer') -%>