<!-- START WITH TITLE, CLOSE HEAD, OPEN BODY -->
<%- include('partials/header') -%>
<title>EduLink · Home</title>
</head>
<body>
  <div>
      <main>
          <!--Header And Title-->
          <section id="title" class="title">
              <div class="container-fluid">
                  <nav class="navbar navbar-expand-md navbar-light">
                      <!-------BRAND-------->
                      <a class="navbar-brand" href="/"><span class="edu"><strong>Edu</strong></span>Link</a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>

                      </button>


                      
                      <!---------NAV ITEMS------------>
                      <div class="navbar-collapse collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto ml-auto">
                              <li class="nav-item">
                                  <a class="nav-link underline" href="/">Home</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link underline" href="/courses">Courses</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link underline" href="#">Leaderboard</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link underline" href="#about-us">About</a>
                              </li>
                          </ul>
                          <ul class="navbar-nav">
                              <li class="nav-item"><a href="" class="nav-link"><button class="btn btn-md sing-up">Sign up</button></a></li>
                              <li class="nav-item"><a href="" class="nav-link"> <button class="btn btn-md btn-color btn-danger" type="button">Log in</button></a></li> 
                          </ul>
                          
                      </div>
                  </nav>
                      <div class="row">
                          <div class="col-md-6">
                              <h1 class="big-heading"><span class="alevels">A-Levels</span> Made Easier with EduLink</h1>
                              <a href="/courses"><button class="btn btn-danger btn-color btn-lg download-button" type="button">Get Started</button></a>
                          </div>
                          <div class="col-md-6">
                          </div>
                      </div>   
              </div>  
          </section>
          
          <!-------About-US Section--------->
          <!----------It would be great if I can use DOM------------>
          <!---Isn't adding cards better than cols?---->
          <section id="about-us" class="biege-section">
              <div class="container-fluid">
                  <h2 class="section-heading">Learn More <span class="aboutus">About Us</span></h2>
                  <div class="card-deck">
                      <div class="card">
                        <img class="card-img-top" src="https://www.teacherhorizons.com/advice/wp-content/uploads/articles/entrepreneurship-can-and-will-be-the-liberating-force-for-africas-economy/african-leadership-academy-building.jpg" alt="ALA-img">
                        <div class="card-body">
                          <h5 class="card-title">Our Mission</h5>
                          <p class="card-text">"Our mission is to empower students within the ALA community, who face linguistic and academic challenges, by providing them with comprehensive and accessible resources to excel in their A-Level studies. We aim to bridge the language and curriculum gaps, and guide our peers and future generations of ALA students towards academic success and personal growth."</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                      <div class="card">
                        <img class="card-img-top" src="https://imgs.search.brave.com/JUUp-37sOyaOHdalhlQkDCSKdaMralQEDqggiQpYy_U/rs:fit:820:434:1/g:ce/aHR0cHM6Ly93d3cu/cG5na2V5LmNvbS9w/bmcvZGV0YWlsLzIz/My0yMzMyNjc3X2Vn/YS1wbmcucG5n" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                      <div class="card">
                        <img class="card-img-top" src="https://imgs.search.brave.com/JUUp-37sOyaOHdalhlQkDCSKdaMralQEDqggiQpYy_U/rs:fit:820:434:1/g:ce/aHR0cHM6Ly93d3cu/cG5na2V5LmNvbS9w/bmcvZGV0YWlsLzIz/My0yMzMyNjc3X2Vn/YS1wbmcucG5n" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
              </div>
          </section>
      </main>
  </div>
      <!-------Testimonials and Carousl Section--------->
  <!-- <section id="testimonials" class="colored-section">
      <div id="testimonial-carousel" class="carousel slide" data-pause="hover" data-interval="3000">
          <div class="carousel-inner">
            <div class="container-fluid carousel-item active">
              <h2 class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Suspendisse faucibus interdum posuere lorem ipsum."</h2>
              <img class="testimonial-image" src="images/dog-img.jpg" alt="profile-img">
              <figcaption class="caption">Somebody</figcaption>
            </div>
            <div class="carousel-item container-fluid">
              <h2 class="testimonial-text">"Arcu non odio euismod lacinia at quis risus. Et ultrices neque ornare aenean euismod elementum nisi. Faucibus vitae aliquet nec ullamcorper sit amet."</h2>
              <img class="testimonial-image" src="images/lady-img.jpg" alt="profile-img">
              <figcaption class="caption">Somebody</figcaption>
            </div>
            <div class="carousel-item container-fluid">
              <h2 class="testimonial-text">"Velit scelerisque in dictum non consectetur a erat nam at. Quisque sagittis purus sit amet volutpat consequat mauris. Volutpat lacus laoreet non curabitur gravida."</h2>
              <img class="testimonial-image" src="images/lady-img.jpg" alt="profile-img">
              <figcaption class="caption">Somebody</figcaption>
            </div>
          </div>
          <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  </section> -->

  <!------------------Footer----------------------->

<!-- DON't USE CLOSING BODY!!! -->
<%- include('partials/footer') -%>